/* TYPOGRAPHY */

h1 {
    font-size: 50px !important; 
}
h2 {
    line-height: 40px !important;
}
h3 {
    font-style: 22px;
}
h4 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 15px !important;
}
h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h6 {
    color: #C2E4E3 !important;
    font-style: 14px !important;
    font-weight: bold !important;
    letter-spacing: 5px;
    margin-bottom: 15px !important;
}

/* BUTTONS */

.vc_btn3-color-white {
    font-size: 16px;
    letter-spacing: 2px;
    color: #24A1AD !important;
    text-transform: uppercase;
}

.vc_btn3-color-primary {
    font-size: 16px;
    letter-spacing: 2px;
    background: #24A1AD !important;
    text-transform: uppercase;
    border: none !important;
}


/* GLOBAL */

.logo {
    padding-bottom: 26px;
}

.nav {
    padding-top: 45px;
}

.nav li {
    padding-left: 45px;
}

.nav li:first-child {
    padding-left: 0px;
}

.nav a {
    font-size: 16px;
    letter-spacing: 2px !important;
    color: #222E38;
    text-transform: uppercase;
}

.nav > li > a {
    padding: 0px !important;
}

.header .current-menu-item a::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #24A1AD;
    margin: 5px auto 0 auto;
}

.secondary-nav {
    background: #222E38;
    height: 45px;
}

.secondary-nav ul {
    padding-left: 15px;
    padding-top: 10px;
}

.secondary-nav li {
    display: inline;
    padding-left: 40px;
}

.secondary-nav li:first-child {
    padding-left: 0px;
}

.secondary-nav a {
    color: #fff;
}

.secondary-nav .current_page_item a {
    color: #24A1AD;
    font-style: italic;
}

.bg_inner-hero {
    height: 450px;
}

.lead-in .wpb_text_column {
    text-align: center;
    max-width: 779px;
    margin: 30px auto 65px auto;
}

.lead-in h2::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #C2E4E3;
    margin: 15px auto 0 auto;
}

.cta {
    text-align: center;
    padding: 90px 0;
    font-size: 50px;
}

.cta a {
    font-size: 80px;
    color: #24A1AD;
    font-style: italic;
}

.page-id-1833 .cta {
    display: none;
}

.page-id-2777 .cta {
    background: #C2E4E3;
}

.footer {
    background-color: #222E38 !important;
    color: #648AAA;
}

.footer .container {
    padding: 56px 0 0px 0;
}

.footer-nav.footer-nav {
    padding-top: 0px;
    padding-bottom: 37px;
}

#footer-right {
    text-align: right;
}

.footer li {
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.footer li::after {
    content: "//";
    padding: 0px 12px;
}

.footer li:last-child::after {
    content: "";
}

.footer li:last-child {
    padding-right: 0px;
}

.footer a {
    color: #648AAA;
}

.footer-nav ul {
    padding-left: 15px;
    margin-left: 0px;
}

.seperate {
    padding: 40px 0 15px 0;
}

.footer hr {
    border-top: 1px solid #648AAA;
    margin-top: 0px;
    margin-bottom: 3px;
}


/* HOME PAGE */

.home .lead-in .wpb_text_column {
    text-align: center;
    max-width: 779px;
    margin: 65px auto 150px auto;
}

#bg_home-hero {
    height: 746px;
}

#bg_home-hero .wpb_wrapper {
    padding-top: 120px;
}

#bg_home-hero h1 {
    color: #fff;
}

#bg_home-hero h5 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bg_inner-hero {
    padding-top: 150px !important;
}

.bg_inner-hero h1 {
    color: #fff;
}

.bg_inner-hero h5 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bg_blue {
    background: url('../images/bg_blue-texture.jpg') top left;
    background-size: cover;
    color: #fff;
    overflow: unset !important;
    display: flex;
}

.bg_blue .bg_content {
    background: #24A1AD;
    height: 100%;
    padding: 0 40px;
}

.bg_blue h2::before {
    content: "01";
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.bg_blue h2::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #fff;
    margin:20px 0 25px 0;
}

.bg_white {
    overflow: unset !important;
    display: flex;
}

.bg_white .bg_content {
    background: #ffffff;
    height: 100%;
    padding: 0 40px;
}

.bg_white h2::before {
    content: "02";
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #C2E4E3;
}

.bg_white h2::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #C2E4E3;
    margin:20px 0 25px 0;
}

.bg_light-blue {
    background: url('../images/bg_light-blue-texture.jpg') top left;
    background-size: cover;
    color: #8A8A8A;
    overflow: unset !important;
    display: flex;
}

.bg_light-blue .bg_content {
    background: #D0EAEA;
    height: 100%;
    padding: 0 40px;
}

.bg_light-blue h2::before {
    content: "03";
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #24A1AD;
}

.bg_light-blue h2::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #24A1AD;
    margin:20px 0 25px 0;
}

.bg_light-blue h2 {
    color: #222E38;
}

.bg_blue img, .bg_white img, .bg_light-blue img {
    margin-top: -100px;
    opacity: 1;
}

@media (min-width : 992px) and (max-width : 1999px) {
    .bg_blue img, .bg_white img, .bg_light-blue img {
        margin-top: -50px;
    }
}

@media (max-width : 991px) {
    .bg_blue img, .bg_white img, .bg_light-blue img {
        margin-top: 50px;
    }
}

.bg_blue .wpb_text_column, .bg_white .wpb_text_column, .bg_light-blue .wpb_text_column {
    margin-top: 50px;
} 

/* TABLE STYLES */

.tablepress tfoot th, .tablepress thead th {
    background-color: #222E38 !important;
    color: #fff;
}



/* SERVICES PAGE */



/* START ACCORDION */

#service-accordion .vc_column_container>.vc_column-inner {
    padding: 0px;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    border: none;
}

#service-accordion .wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-panel-body, .wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading, .wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-tab>a {
    border-radius: 0px !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::after, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before {
    border-color: #fff !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    background: url('../images/bg_blue-texture.jpg') top left;
    background-size: cover;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading {
    background: #32BECC !important;
}

#service-accordion .vc_tta-color-grey .vc_tta-title-text {
    color: #fff !important;
    font-size: 30px;
}

#service-accordion .vc_tta-panel-heading, .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {
    padding: 30px 0 !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover {
    opacity: 0.8 !important;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-panel {
    margin: 8px 0 !important;
}

#service-accordion .vc_tta-panel-title {
    width: 1200px;
    margin: 0 auto;
}

#service-accordion .vc_tta-panel-body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
}

.wpb-js-composer .vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {
    content: "^" !important;
    border: none !important;
    color: #fff !important; 
    font-style: normal;
    font-style: 30px !important;
}

.wpb-js-composer .vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before  {
    display: none !important;
}

#service-accordion h2::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background: #C2E4E3;
    margin:20px 0 25px 0;
}

/* END ACCORDION */

.bg_callout {
    background: #D0EAEA;
    padding: 40px;
    margin-bottom: 50px;
}

.bg_callout img {
    position: absolute;
    top: -200px;
    right: -30px;
}

.bg_callout ul {
    margin: 20px 0 0 0;
    padding:0px;
    column-count: 2;
    list-style-type: none;
    font-style: 16px;
    font-style: italic;
}

.bg_callout li::before {
    content: ">";
    color: #24A1AD;
    font-size: 20px;
    padding-right: 5px;
}

/* CONTACT PAGE */

.contact-form {
    margin-bottom: 80px;
}