/* TYPOGRAPHY */

h1 {
    font-size: 50px !important; 
}
h2
h3
h4
h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* GLOBAL */

.logo {
    padding-bottom: 26px;
}

.nav {
    padding-top: 15px;
}

.nav a {
    font-size: 16px;
    letter-spacing: 2px !important;
    color: #222E38;
    text-transform: uppercase;
}

.lead-in .wpb_text_column {
    text-align: center;
    width: 779px;
    margin: 65px auto 150px auto;
}

.footer {
    background-color: #222E38 !important;
    color: #648AAA;
}

.footer .container {
    padding: 56px 0 0px 0;
}

.footer-nav.footer-nav {
    padding-top: 0px;
    padding-bottom: 37px;
}

#footer-right {
    text-align: right;
}

.footer li {
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-right: 25px;
}

.footer li:last-child {
    padding-right: 0px;
}

.footer a {
    color: #648AAA;
}

.footer-nav ul {
    padding-left: 15px;
    margin-left: 0px;
}

.seperate {
    padding: 40px 0 15px 0;
}

.footer hr {
    border-top: 1px solid #648AAA;
    margin-top: 0px;
    margin-bottom: 5px;
}


/* HOME PAGE */

#bg_home-hero {
    height: 746px;
}

#bg_home-hero .wpb_wrapper {
    padding-top: 120px;
}

#bg_home-hero h1 {
    color: #fff;
}

#bg_home-hero h5 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bg_blue {
    background: #24A1AD;
    color: #fff;
}

.bg_light-blue {
    background: #C2E4E3;
    color: #8A8A8A;
}